<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestApi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma-rtl.min.css">
</head>

<body>
    <!-- <h1>Welcome</h1> -->

    <nav class="navbar is-light " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <!-- <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a> -->
            <a href="{% url 'home' %}" class="navbar-item">Order WebApp</a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
              Home
            </a>

                <!-- <a class="navbar-item">
              Orders
            </a> -->

                <!-- <a class="navbar-item">

                </a> -->

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                Developers
              </a>

                    <div class="navbar-dropdown">
                        <a href="https://github.com/Wangenye/Wangenye-Rest_API-Django#steps" class="navbar-item">
                  Documentation
                </a>
                        <a target="blank" href="{%url 'itemsapi'%}" class="navbar-item">
                  API's
                  <div class="navbar-dropdown">
                    
                    <a href="{%url 'orderapi'%}" class="navbar-item">Order Api</a>
                        <a href="{%url 'customer_api'%}" class="navbar-item">Customer Api</a>
                    </div>
                    </a>
                    <!-- <a class="navbar-item">
                  Contact
                </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                  Report an issue
                </a> -->
                </div>
            </div>
        </div>

        <div class="">
            <div class="navbar-item">
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout'%}" class="button is-danger"> <strong>Log Out</strong></a>
                {% else %}
                <div class="buttons">
                    <a href="{% url 'signup'%}" class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a href="{% url 'login'%}" class="button is-light">
                  Log in
                </a>
                </div>
                {% endif %}
            </div>
        </div>
        </div>

    </nav>

    {% block content %}
    <!-- <div>HEy</div> -->
    {% endblock%}
    <div style="margin-bottom: 100px;"></div>

    <!-- <div style="margin-bottom: 100px;"></div> -->
    <!-- <------------------FOoter section--________---------------->
    <!-- <footer class="footer " style='background-color:#1f2330; color:#FAFAFA; line-height:40px; margin-bottom:0px;'>
        <div class="content has-text-centered">
            <p font sizes: $size-1: 3rem>
                Copyright &copy; 2020 . By Bingo Technologies.
            </p>

        </div>
    </footer> -->


    <!-- End FOoter section -->


    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function() {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
    {%block scripts%}{% endblock%}
</body>

</html>