<form action="" method="post">
    {% csrf_token %} {{form.as_p}}

    <!-- <div class="field">
        <div class="control has-icons-left has-icons-right">
            <p>
                <input class="input" type="text" name="phone" id="id_phone" placeholder="Phone Number">
                <span class="icon is-small is-left">
                    <i class="fas fa-phone "></i>
                  </span>
            </p>
        </div>
    </div> -->

    <button type="submit">Signup</button>

</form>